@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
* {
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
}

.container-title {
    margin-top: -30px;
    padding-top: 40px;
    padding-bottom: 10px;
    user-select: none;
}

.container-title:hover {
    cursor: pointer;
}

.container-title-text {
    -webkit-text-stroke: 1px white;
}

.container-description-text {
    font-family: sans-serif !important;
    -webkit-text-stroke: 0.1px red;
}

.container-graph {
    height: 400px;
}

.container-graph-column {
    height: 200px;
}

#column1,
#column2,
#column3 {
    height: 20px;
}